body {
    background-color:rgb(119, 119, 119);
    color:rgb(197, 213, 230);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 100;
    font-style: normal;
    line-height: 50px;
    
}
ol li {
    background: rgb(255, 128, 128);
    padding: 8px 16px 24px 16px;
    margin-bottom: 4px;
}
ul li.item-1 {
    background-color: rgb(213, 241, 109);
}